<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <!-- <img
      src="/docs/4.5/assets/brand/bootstrap-solid.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
      loading="lazy"
    /> -->
    {{ title }}
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <form [formGroup]="heroesForm" (ngSubmit)="onSubmit()">
        <div class="justify-content-center d-flex">
          <h4>Registro de Heroes</h4>
        </div>

        <div class="form-group">
          <label for="heroeNombre">Nombre</label>
          <input
            formControlName="nombre"
            type="text"
            class="form-control"
            id="heroeNombre"
            placeholder="Thor"
          />
        </div>

        <div class="form-group">
          <label for="heroeDescripcion">Descripción</label>
          <input
            formControlName="descripcion"
            type="text"
            class="form-control"
            id="heroeDescripcion"
            placeholder="Universo Marvel"
          />
        </div>

        <div class="justify-content-end d-flex">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!heroesForm.valid"
          >
            Agregar
          </button>
        </div>
      </form>
    </div>

    <div class="col-sm">
      <div class="list-group">
        <a
          *ngFor="let heroe of heroesLista"
          href="#"
          class="list-group-item list-group-item-action"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ heroe.nombre }}</h5>
            <small>
              <button
                class="btn btn-outline-danger btn-sm"
                (click)="eliminar(heroe.nombre)"
              >
                Eliminar
              </button>
            </small>
          </div>
          <p class="mb-1">
            {{ heroe.descripcion }}
          </p>
          <!-- <small>Donec id elit non mi porta.</small> -->
        </a>
      </div>
    </div>
  </div>
</div>
